<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="sidebarFragment">
    <!--카테고리-->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title" id="offcanvasExampleLabel">카테고리</h3>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="border-top my-3"></div>
            <div class="container">
                <!--            <p th:if="${userInfo==null}"><a href="/login" ><i class="fa-solid fa-right-to-bracket log-icon-style">로그인</i></a></p>-->
                <p sec:authorize="!isAuthenticated()"><a href="/login" ><i class="fa-solid fa-right-to-bracket log-icon-style">로그인</i></a></p>
                <p sec:authorize="isAuthenticated()">
                    <strong><span th:text="|${userInfo.name}님 어서오세요!!|">환영합니다!!</span></strong>
                    <br>
                    <a href="/logout"><i class="fa-solid fa-right-from-bracket log-icon-style">로그아웃</i></a>
                </p>
                <!--            <p sec:authorize="isAuthenticated()">-->
                <!--                <strong><span th:text="|${#authentication.name}님 어서오세요!!|">환영합니다!!</span></strong>-->
                <!--                <br>-->
                <!--                <a href="/logout"><i class="fa-solid fa-right-from-bracket log-icon-style">로그아웃</i></a>-->
                <!--            </p>-->
            </div>
            <div class="border-top my-3"></div>
            <div class="mb-1 link-dark">
                <div class="search">
                    <a onclick="searchKeyword()"><i id="search-icon" class="fas fa-search" aria-hidden="true"></i></a>
                    <!-- 13번 키가 눌리면 searchKeyword가 실행되는 것 같다. 자바스크립트 코드로 ajax통신을 구현하자 -->
                    <input type="text" id="searchInput" class="searchInput form-control ps-4"
                           placeholder="검색어를 입력해주세요">
                </div>
            </div>



            <div class="row mx-auto fs-1" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="border-top my-3" style="margin: auto 0;"></div>
                <div class="col-sm-6">
                    <!--                <a th:href="@{/category/edit}" class="me-0 ps-2 btn "><i class="fa-sharp fa-solid fa-gear"></i>카테고리수정</a>-->
                    <a th:href="@{/category}" class="me-0 ps-2 btn "><i class="fa-sharp fa-solid fa-gear"></i>카테고리수정</a>
                </div>
                <div class="col-sm-6">
                    <a th:href="@{/board/edit}" class="me-0 ps-2 btn"><i class="fa-solid fa-pen-to-square"></i>글쓰기</a>
                </div>
            </div>

            <div class="border-top my-3" style="margin: auto 0;"></div>
            <div class="mb-1 mx-4">
                <a th:href="@{/board/category/total/{page}(step=0, page=1)}" class="mb-0 superCategory btn fs-5" th:text="|전체글(${boardCount})|">전체글</a>
            </div>
            <ul class="list-unstyled ps-0">
                <!--어느정도 웹 페이지의 기능이 잡히면 계층형태의 카테고리를 만들어보자 부트스트랩의 collapse 기능사용-->
                <li class="mb-1 mx-4" th:each="category : ${categoryList.values()}">
                    <a th:id="|collapseSpace${category.id}|" data-bs-toggle="collapse" th:attr="href='#childCategory'+${category.id}" role="button" aria-expanded="false" th:attrappend="aria-controls=|childCategory${category.id}|" onclick="iconRotate(this)"><i class="fa-solid fa-chevron-right collapse-btn"></i></a>
                    <!--<i class="fa-solid fa-chevron-down"></i>-->
                    <!--<span th:if="${category.name!='total'}"><a th:href="@{/board(category=${category.name}, step=1)}" class="mb-0 superCategory btn fs-5"
                                                               th:text="|${category.name}(${category.categoryNum})|">스프링(0)</a></span>-->
                    <span th:if="${category.name!='total'}"><a th:href="@{/board/category/{parentCategory}/{page}(parentCategory=${category.name}, page=1, step=1)}" class="mb-0 superCategory btn fs-5"
                                                               th:text="|${category.name}(${category.categoryNum})|">스프링(0)</a></span>
                    <div class="collapse" th:id="|childCategory${category.id}|">
                        <ul class="ms-4 list-unstyled fw-normal pb-1" th:each="childCategory : ${category.childCategory}">
                            <!--<li class="fs-6"><a class="link-dark rounded fw-bold" th:href="@{/board(category=${childCategory.name}, step=2)}" th:text="|${childCategory.name}(${childCategory.categoryNum})|"></a></li>-->
                            <li class="fs-6"><a class="link-dark rounded fw-bold" th:href="@{/board/category/{parentCategory}/{childCategory}/{page}(parentCategory=${category.name},childCategory=${childCategory.name}, page=1, step=2)}" th:text="|${childCategory.name}(${childCategory.categoryNum})|"></a></li>
                        </ul>
                    </div>
                </li>
            </ul>

            <div class="border-top my-3" style="margin: auto 0;"></div>
            <div class="mb-1 mx-4">
                <h6>태그</h6>
                <div class="container">
                    <a class="fs-6 fw-bold" th:each="tag : ${sideBarTagList}" th:text="'#'+${tag.name}+|(${tag.count}), |" th:href="@{/board/tag(tagName=${tag.name})}">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>